FROM python:3.9

# Install PostgreSQL development files
RUN apt-get update && apt-get install -y libpq-dev

# Set your working directory
WORKDIR /app

# Copy your requirements file
COPY requirements.txt .

# Install dependencies
RUN pip install --no-cache-dir -r requirements.txt
